#header {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  min-height: 20vh;
  margin: 0 auto;
  background-color: rgb(85, 79, 79);
}
#headertext {
  flex: 0 0 50%;
  text-align: left;
}
#clock {
  flex: 0 0 50%;
  text-align: right;
}
